// @media (max-width: 1200px) {}

@media (max-width: 991px) {
    .container {
        padding: 0 10px;
    }

    .title {
        font-size: 25px;
    }

    .carousel {
        &__inner {
            width: 100%;
        }

        .prev {
            left: 0px;
        }

        .next {
            left: auto;
            right: -0px;
        }

        .tns-item {
            img {
                width: 500px;
            }
        }
    }

    .catalog {
        &__content {
            justify-content: space-evenly;
        }
    }


}

@media (max-width: 768px) {
    .container {
        padding: 0 10px;
    }

    .header {
        &__official {
            font-size: 10px;

            span {
                font-size: 12px;
            }
        }

        &__phone {
            font-size: 16px;
        }
    }

    .promo {
        &__wrapper {
            align-items: center;
        }
    }

    .advantage {
        &__wrapper {
            flex-direction: column;
        }

        &__card {
            width: 70%;
            margin: 10px auto;
        }
    }

    .carousel {


        .prev {
            display: none;
        }

        .next {
            display: none;
        }

        .tns-item {
            img {
                width: 500px;
            }
        }
    }

}

@media (max-width: 575px) {
    .header {
        justify-content: center;
        &__official {
            display: none;
        }

        &__contacts {
            display: none;
        }
    }

    .promo {
        &__header {
            font-size: 25px;
            text-align: center;
        }

        &__subheader {
            font-size: 20px;
            text-align: center;
        }

        &__icons {
            flex-direction: column;
            width: 100%;
        }

        &__icon {
            width: 100%;
            margin-bottom: 10px;
        }
    }

    .advantage {
        &__title {
            font-size: 25px;
        }

        &__card {
            width: 90%;
            margin: 10px auto;
        }
    }

    .catalog {
        &__tab {
            font-size: 12px;
        }
    }
}