.advantage {
    min-height: 473px;
    background-color: #F6F6F6;
    padding: 73px 0 83px 0;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
    }

    &__card {
        width: 280px;
        text-align: center;
        color: #0D0D0D;
        font-size: 14px;
        font-weight: 300;
        line-height: 18px;

        &-img {
            width: 70px;
            height: 70px;

            &_animated {
                animation: heartbeat 1.5s ease infinite;

                &:hover {
                    animation-play-state: paused;
                }
            }
        }

        &-title {
            color: #0D0D0D;
            margin-top: 30px;
            font-size: 18px;
            font-weight: 700;
        }

        &-descr {
            margin-top: 20px;

            a {
                color: #F00;
                text-decoration-line: underline;
            }
        }
    }
}